:root {
  --red-main: #e85a4f;
  --red-secondary: #e98074;
  --black: #696762;
  --light-gray: #a5a39e;
  --gray: #8e8d8a;
  --tan: #eae7dc;
  --tan-dark: #d8c3a5;
  --default-width: 900px;
}

*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html { 
  margin-left: calc(100vw - 100%); 
}

body {
  margin: 0;
  background-color: var(--tan);
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Roboto", sans-serif;
  color: var(--black);
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  padding: 2px 0;
}

a {
  color: var(--gray);
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: var(--red-main);
}

/* ==================
        Header
===================== */
header {
  margin: 10px auto;
  width: 500px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}
.header-name {
  padding: 4px 0;
  font-size: 48px;
  font-weight: bold;
}
.header-webdev {
  padding: 4px;
  background-color: var(--red-main);
  font-size: 18px;
  color: var(--tan);
}

.header-name a {
  color: var(--red-main);
}
.header-name a:hover {
  color: var(--red-secondary);
}

/* ==================
        Navbar
===================== */
nav {
  margin: 20px auto;
  max-width: var(--default-width);
  text-align: center;
}

nav li {
  padding: 0 20px;
  display: inline-block;
  border-right: 1px solid #aca5a0;
}
nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: var(--gray);
}
nav a:hover {
  color: var(--red-main);
}
nav a:active {
  color: var(--red-main);
}

.nav-active {
  color: var(--red-secondary) !important;
}

/* ==================
        Pages
===================== */
.page {
  margin: 0px auto;
  padding: 20px 14px;
  min-height: 400px;
  max-width: var(--default-width);
  border-top: 2px solid var(--red-main);
  border-bottom: 2px solid var(--red-main);
}

.page h3 {
  font-size: 1.6rem;
  color: var(--red-main);
  border-bottom: 1px solid var(--gray);
}

.page h4 {
  font-size: 1.2rem;
  font-weight: normal;
}

/* ==================
      Project Card
===================== */
.project {
  margin: 20px 0;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid var(--gray);
}
.project:last-child {
  border-bottom: none;
}

.project img {
  width: 100%;
  height: auto;
}

.project-description {
  padding-bottom: 10px;
}
.project-description p {
  margin-top: 4px;
  margin-bottom: 10px;
}
.project-description a {
  margin-right: 16px;
}
.project-description a:hover {
  text-decoration: underline;
}
.project-name {
  font-size: 1.4rem;
  color: var(--red-main);
}

.project-tools {
  margin: 8px 0;
}
.project-tools div {
  margin: 4px;
  padding: 2px 8px;
  display: inline-block;
  background-color: var(--red-main);
  border-radius: 4px;
  color: var(--tan);
  text-align: center;
  font-size: 0.85rem;
}

/* ==================
        Resume
===================== */
section {
  margin-bottom: 30px;
}

.resume p {
  margin-top: 4px;
}
.resume ul {
  padding: 0 14px;
  color: var(--gray);
}
.resume li {
  margin: 6px 0;
}
.resume span {
  color: var(--red-secondary);
  font-weight: bold;
}

.resume-item {
  margin-top: 10px;
  margin-bottom: 20px;
}

.resume-other {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.resume-other h5 {
  margin-top: 4px;
  font-size: 1.1rem;
}

.download {
  display: inline-block;
  padding: 6px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid var(--red-main);
  color: var(--black);
  font-weight: 800;
  transition: all 0.2s ease;
}
.download:hover {
  background-color: var(--red-main);
  color: var(--tan);
}

/* ==================
        Contacts
===================== */
.contacts {
  text-align: center;
}
.contacts-header {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.contacts-list {
  margin: 20px auto;
  font-size: 3rem;
}
.contacts-list li {
  display: inline-block;
  padding-right: 30px;
}

/* ==================
      Other Work
===================== */
/*======== Dropdown Menu */
.dropdown-menu-items {
  margin-top: 8px;
  position: absolute;
  background-color: var(--tan);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  z-index: 2;
}
.dropdown-menu-items li {
  margin: 0 10px;
  padding: 10px;
  display: block;
  border-bottom: 1px solid var(--gray);
  border-right: none;
}
.dropdown-menu-items li:last-child {
  border-bottom: none;
}

.dropdown-menu-visible .dropdown-menu-nav {
  color: var(--red-main);
}
.dropdown-menu-visible .dropdown-menu-items {
  max-height: 100%;
}

.dropdown-menu-nav {
  color: var(--gray);
  cursor: pointer;
}
.dropdown-menu-nav:hover {
  color: var(--red-main);
}

/*============= Sections */
.demo-reel {
  position: relative;
  padding-bottom: 56.25%;
	padding-top: 25px;
  height: 0;
}
.demo-reel iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.other-works section {
  min-height: 400px;
}
.art-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
  grid-gap: 20px;
}

.gallery-item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  border: 1px solid var(--gray);
  cursor: pointer;
}

.gallery-item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*============== Overlay */
.gallery-item-overlay {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: var(--red-main);
  transition: all 0.2s ease;
  opacity: 0;
}
.gallery-item:hover > .gallery-item-overlay {
  opacity: 0.5;
}

.image-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000b3;
  z-index: 2;
  display: none;
}
.image-overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.image-overlay-inner {
  background-color: var(--tan);
  max-width: 700px;
  padding: 20px;
}

.image-overlay img {
  width: 100%;
}

/* ==================
        Footer
===================== */
footer {
  max-width: var(--default-width);
  margin: 16px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8rem;
}

footer ul {
  text-align: right;
}

footer li {
  padding: 0 10px;
  display: inline-block;
  border-right: 1px solid var(--gray);
}
footer li:last-child {
  border-right: none;
}

.copyright {
  color: var(--gray);
}