:root {
  --red-main: #e85a4f;
  --red-secondary: #e98074;
  --black: #696762;
  --gray: #8e8d8a;
  --tan: #eae7dc;
  --tan-dark: #d8c3a5;
  --default-width: 900px;
}

*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
  /* height: 100vh; */
  color: var(--black);
  background-color: var(--tan);
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  padding: 2px 0;
}

a {
  color: var(--gray);
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: var(--red-main);
}


/* ==================
        Header
===================== */
header {
  margin: 10px auto;
  width: 500px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}
.header-name {
  padding: 4px 0;
  font-size: 48px;
  font-weight: bold;
  color: var(--red-main);
}
.header-webdev {
  padding: 4px;
  background-color: var(--red-main);
  font-size: 18px;
  color: var(--tan);
}

/* ==================
        Navbar
===================== */
nav {
  margin: 20px auto;
  max-width: var(--default-width);
  text-align: center;
}

nav li {
  padding: 0 20px;
  display: inline-block;
  border-right: 1px solid #aca5a0;
}
nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: var(--gray);
}
nav a:hover {
  color: var(--red-main);
}
nav a:active {
  color: var(--red-main);
}

/* ==================
        Pages
===================== */
.page {
  margin: 0px auto;
  padding: 20px 10px;
  min-height: 400px;
  max-width: var(--default-width);
  border-top: 2px solid var(--red-main);
  border-bottom: 2px solid var(--red-main);
}

/* ==================
      Project Card
===================== */
.project {
  margin: 20px 0;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid var(--gray);
}
.project:last-child {
  border-bottom: none;
}

.project img {
  width: 100%;
  height: auto;
}

.project-description {
  padding-bottom: 10px;
}
.project-description p {
  margin-top: 4px;
  margin-bottom: 10px;
}
.project-description a {
  margin-right: 16px;
}
.project-description a:hover {
  text-decoration: underline;
}
.project-name {
  font-size: 1.4rem;
  color: var(--red-main);
}

.project-tools {
  margin: 8px 0;
}
.project-tools div {
  margin: 4px;
  padding: 2px 8px;
  display: inline-block;
  background-color: var(--red-main);
  border-radius: 4px;
  color: var(--tan);
  text-align: center;
  font-size: 0.85rem;
}

/* ==================
        Contacts
===================== */
.contacts {
  text-align: center;
}
.contacts-header {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.contacts-list {
  margin: 20px auto;
  font-size: 3rem;
}
.contacts-list li {
  display: inline-block;
  padding-right: 30px;
}


/* ==================
        Footer
===================== */
footer {
  max-width: var(--default-width);
  margin: 16px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8rem;
}

footer ul {
  text-align: right;
}

footer li {
  padding: 0 10px;
  display: inline-block;
  border-right: 1px solid var(--gray);
}
footer li:last-child {
  border-right: none;
}

.copyright {
  color: var(--gray);
}