:root {
  --red-main: #e85a4f;
  --red-secondary: #e98074;
  --black: #696762;
  --gray: #8e8d8a;
  --tan: #eae7dc;
  --tan-dark: #d8c3a5;
  --default-width: 900px;
}

*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
  /* height: 100vh; */
  color: var(--black);
  background-color: var(--tan);
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  padding: 2px 0;
}

a:visited {
  color: inherit;
}


/* ==================
        Header
===================== */
header {
  margin: 10px auto;
  width: 500px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}
.header-name {
  padding: 4px 0;
  font-size: 48px;
  font-weight: bold;
  color: var(--red-main);
}
.header-webdev {
  padding: 4px;
  background-color: var(--red-main);
  font-size: 18px;
  color: var(--tan);
}

/* ==================
        Navbar
===================== */
nav {
  margin: 20px auto;
  width: var(--default-width);
  text-align: center;
}

nav li {
  padding: 0 20px;
  display: inline-block;
  border-right: 1px solid #aca5a0;
}
nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: var(--gray);
}
nav a:hover {
  color: var(--red-main);
}
nav a:active {
  color: var(--red-main);
}

/* ==================
        Pages
===================== */
.page {
  margin: 0px auto;
  padding: 0 10px;
  margin-bottom: 10px;
  width: var(--default-width);
  border-top: 2px solid var(--red-main);
  border-bottom: 2px solid var(--red-main);
}